/.project
/.settings/
/fakeResponser-ear/.project
/fakeResponser-ws/fakeResponser.log
/fakeResponser-ws/.settings
/fakeResponser-ws/target
/fakeResponser-ws/.classpath
/fakeResponser-ws/.project
/fakeResponser-ws/configtest_fakeResponser-dir.txt
/fakeResponser-ear/.settings
